<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>乐兑网-乐兑明信片</title>
<meta name="title" content="乐兑网-乐兑明信片"> 
<meta name="keywords" content="乐兑 乐兑网 明信片"> 
<meta name="description" content="乐兑明信片是一款可以在任何时候任何地点制作并投递明信片的手机应用。我们不是给亲人朋友发去E-Card，而是真正的投递纸质明信片，不论您在什么地方，再也不必为买明信片找邮箱这种事情发愁了，您只需要打开您的相册，或者拍下当时的美景，然后选上您中意的邮戳邮票，填写上您想寄去的地址，后面的事情请交给我们。如果您的照片带有GPS信息，我们还会在明信片上印上您在世界地图的哪个位置，让收件人更切身的体验到您来自远方的祝福！把亲人的牵挂寄回家，把自己的游历寄朋友，邀请您的朋友一起来玩转乐兑明信片吧！"/>

<link href="/assets/css/style_v1.css" rel="stylesheet" type="text/css" />
</head>
<body>
<img src="xx"/>
</body>
</html>
