<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>乐兑网-乐兑明信片</title>
<link href="/assets/css/style_v1.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30" bgcolor="#555555"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="748"><a href="#" class="write12">【公告】12312313123</a></td>
        <td width="212" align="right"><a href="/user.main.sign" class="write12">注册</a>　　<a href="/user.main.sign" class="write12">登录</a>　　<a href="#" class="write12">帮助</a></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="329" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="5">
      <tr>
        <td height="120" align="center"><img src="/assets/img/logo_1.gif" width="257" height="89" /></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td align="center"><table width="262" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3"><img src="/assets/img/mobile_1.gif" width="262" height="92" /></td>
              </tr>
            <tr>
              <td width="21"><img src="/assets/img/mobile_2.gif" width="21" height="332" /></td>
              <td width="222"><img src="/assets/img/mobile_5.gif" width="222" height="332" /></td>
              <td width="19"><img src="/assets/img/mobile_3.gif" width="19" height="332" /></td>
            </tr>
            <tr>
              <td colspan="3"><img src="/assets/img/mobile_4.gif" width="262" height="101" /></td>
              </tr>
          </table></td>
        </tr>
      </table>
      <table width="262" border="0" align="center" cellpadding="5" cellspacing="0">
        <tr>
          <td width="319" align="center"><img src="/assets/img/botton_1.gif" width="213" height="77" /></td>
        </tr>
      </table></td>
    <td width="631" valign="top" bgcolor="#FFFFFF"><table width="631" height="173" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="/assets/img/index_1_01.gif" width="378" height="54" alt="" /></td>
        <td><img src="/assets/img/index_1_02.gif" width="253" height="54" alt="" /></td>
      </tr>
      <tr>
        <td><img src="/assets/img/index_1_03.gif" width="378" height="61" alt="" /></td>
        <td><img src="/assets/img/index_1_04.gif" width="253" height="61" alt="" /></td>
      </tr>
      <tr>
        <td><img src="/assets/img/index_1_05.gif" width="378" height="58" alt="" /></td>
        <td><img src="/assets/img/index_1_06.gif" width="253" height="58" alt="" /></td>
      </tr>
    </table>
      <table width="631" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="378"><img src="/assets/img/index_1_07.gif" width="419" height="50" /></td>
          <td width="161"><img src="/assets/img/index_1_08.gif" width="161" height="50" /></td>
          <td width="51">&nbsp;</td>
        </tr>
      </table>
      <table id="__01" width="631" height="171" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="/assets/img/index_2_01.gif" width="320" height="53" alt="" /></td>
          <td><img src="/assets/img/index_2_02.gif" width="311" height="53" alt="" /></td>
        </tr>
        <tr>
          <td><img src="/assets/img/index_2_03.gif" width="320" height="55" alt="" /></td>
          <td><img src="/assets/img/index_2_04.gif" width="311" height="55" alt="" /></td>
        </tr>
        <tr>
          <td><img src="/assets/img/index_2_05.gif" width="320" height="63" alt="" /></td>
          <td><img src="/assets/img/index_2_06.gif" width="311" height="63" alt="" /></td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><img src="/assets/img/footer_ge.gif" width="960" height="9" /></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="5" cellspacing="5" bgcolor="#FFFFFF">
  <tr>
    <td width="312" align="center"><img src="/assets/img/logo_2.gif" width="215" height="56" /></td>
    <td width="613">&nbsp;</td>
  </tr>
</table>
</body>
</html>
