<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>乐兑网-乐兑明信片</title>
<link href="/assets/css/style_v1.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/daohang.js"></script>
</head>

<body onload="MM_preloadImages('/assets/img/botton_dh_in_02.gif')">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30" bgcolor="#555555"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="748"><a href="#" class="write12">【公告】12312313123</a></td>
        <td width="212" align="right"><a href="/user.main.sign" class="write12">注册</a>　　<a href="/user.main.sign" class="write12">登录</a>　　<a href="#" class="write12">帮助</a></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="205" valign="top" bgcolor="#FFFFFF"><img src="/assets/img/logo_3.gif" width="205" height="95" /></td>
    <td width="359" valign="top" background="/assets/img/head_bg.gif" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="396" align="right" valign="top" bgcolor="#FFFFFF"><img src="/assets/img/head_1.gif" width="396" height="95" /></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><table width="900" border="0" align="center" cellpadding="10" cellspacing="0">
        <tr>
          <td width="50%" height="10" align="center" valign="top"><table width="412" border="0" cellpadding="0" cellspacing="0" bgcolor="#e9e9e9">
            <tr>
              <td width="10" height="10"><img src="/assets/img/k_1.gif" width="10" height="10" /></td>
              <td width="410"><img src="/assets/img/touming.png" width="1" height="1" /></td>
              <td width="10"><img src="/assets/img/k_2.gif" width="10" height="10" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
                    <tr>
                      <td width="33%" class="biaoti_16">账户登录</td>
                      <td width="33%" align="right"><img src="/assets/img/qq.gif" width="124" height="24" /></td>
                      <td width="33%" align="right"><img src="/assets/img/weibo.gif" width="126" height="24" /></td>
                    </tr>
                  </table>
                    <table width="93%" border="0" align="center" cellpadding="5" cellspacing="0">
                      <tr>
                        <td width="83%"><span class="huise_14">邮箱地址</span><br />
                          <input name="textfield" type="text" class="input_sign" /></td>
                      </tr>
                      <tr>
                        <td><span class="huise_14">密码</span><br />
                          <input name="password" type="password" class="input_sign" id="password" /></td>
                      </tr>
                      <tr>
                        <td><span class="huise_14">验证码</span><br />
                          <input name="textfield3" type="text" class="input_yanzhengma" />
                            <br />
                            <span class="red_12">登录错误次数过多，请输入验证码</span></td>
                      </tr>
                      <tr>
                        <td align="right"><img src="/assets/img/sign.gif" width="129" height="30" /></td>
                      </tr>
                      <tr>
                        <td align="right"><a href="#">忘记密码？</a></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><img src="/assets/img/k_4.gif" width="10" height="10" /></td>
              <td><img src="/assets/img/touming.png" width="1" height="1" /></td>
              <td><img src="/assets/img/k_3.gif" width="10" height="10" /></td>
            </tr>
          </table></td>
          <td width="50%" align="center" valign="top"><table width="412" border="0" cellpadding="0" cellspacing="0" bgcolor="#e9e9e9">
            <tr>
              <td width="10" height="10"><img src="/assets/img/k_1.gif" width="10" height="10" /></td>
              <td width="410"><img src="/assets/img/touming.png" width="1" height="1" /></td>
              <td width="10"><img src="/assets/img/k_2.gif" width="10" height="10" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="5">
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
                        <tr>
                          <td class="biaoti__blue_16">快速注册</td>
                          </tr>
                      </table>
                        <table width="93%" border="0" align="center" cellpadding="5" cellspacing="0">
                          <tr>
                            <td width="83%"><span class="huise_14">邮箱地址</span><br />
                                <input name="textfield2" type="text" class="input_sign" /></td>
                          </tr>
                          <tr>
                            <td><span class="huise_14">密码</span><br />
                                <input name="password2" type="password" class="input_sign" id="password2" /></td>
                          </tr>
                          <tr>
                            <td><span class="huise_14">密码确认</span><br />
                              <input name="password22" type="password" class="input_sign" id="password22" /></td>
                          </tr>
                          <tr>
                            <td align="right"><img src="/assets/img/sum.gif" width="129" height="30" /></td>
                          </tr>
                      </table></td>
                  </tr>
              </table></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><img src="/assets/img/k_4.gif" width="10" height="10" /></td>
              <td><img src="/assets/img/touming.png" width="1" height="1" /></td>
              <td><img src="/assets/img/k_3.gif" width="10" height="10" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><img src="/assets/img/footer_ge.gif" width="960" height="9" /></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="5" cellspacing="5" bgcolor="#FFFFFF">
  <tr>
    <td width="312" align="center"><img src="/assets/img/logo_2.gif" width="215" height="56" /></td>
    <td width="613">&nbsp;</td>
  </tr>
</table>

</body>
</html>
