@charset "utf-8";

html{direction:ltr;height:100%;}
body{height:100%;background:#000;font-family:Arial, Helvetica, sans-serif;}
html,body,form,ul,ol,li,h1,h2,h3,h4,h5,h6,table,th,tr,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol,dl,li{list-style:none;}
img{border:0;vertical-align:middle;}
a{}
a:active{}
a:hover{}

.screen{position:relative;width:600px;height:100%;margin:0 auto;background:#f1f1f2;-o-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;-webkit-touch-callout:none;}
.pages{background:#f1f1f2;}
.page{z-index:0;position:absolute;left:0;top:0;width:600px;display:none;background:#f1f1f2;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-animation-duration: 0.3s;
-webkit-animation-delay: 0s;
-webkit-animation-timing-function: fadein;
-webkit-animation-fill-mode: both;
-moz-animation-duration: 0.3s;
-moz-animation-delay: 0s;
-moz-animation-timing-function: fadein;
-moz-animation-fill-mode: both;
-ms-animation-duration: 0.3s;
-ms-animation-delay: 0s;
-ms-animation-timing-function: fadein;
-ms-animation-fill-mode: both;
-o-animation-duration: 0.3s;
-o-animation-delay: 0s;
-o-animation-timing-function: fadein;
-o-animation-fill-mode: both;
animation-duration: 0.3s;
animation-delay: 0s;
animation-timing-function: fadein;
animation-fill-mode: both;


transform: translateX(0);
opacity:1;
}
.module{clear:both;border-top:1px solid #fff;border-bottom:1px solid #bababa;}

.panel_head{z-index:2;position:absolute;top:0;left:0;width:600px;background:#f1f1f2;}
.panel_head .shadow{position:absolute;bottom:0;width:100%;height:4px;overflow:hidden;opacity:0.2;filter:alpha(opacity=20);background:#777;}
.panel_body{z-index:0;position:relative;width:600px;overflow:hidden;margin:0 auto;}
.panel_foot{z-index:1;position:absolute;bottom:0;left:0;width:600px;border-top:1px solid #bababa;border-bottom:4px solid #ccc;background:#f1f1f2;line-height:0;}
.panel_foot .shadow{position:absolute;top:-4px;width:100%;height:4px;overflow:hidden;opacity:0.2;filter:alpha(opacity=20);background:#777;}

.header{height:70px;background:url(../img/header.png) no-repeat center 0;}

.banner{height:770px;margin:0 auto;border-top:0;background:url(../img/banner.png) no-repeat center 0;}

.photos{width:100%;overflow:hidden;border-top:1px solid #fff;border-bottom:1px solid #bababa;}
.photos ul{width:610px;height:235px;margin:0 auto;}
.photos li{float:left;width:200px;height:100%;}
.photos li img{display:block;float:left;width:100%;height:100%;}

.helper{width:100%;height:78px;overflow:hidden;margin-bottom:-4px;border-bottom:4px solid #555;
background: -webkit-linear-gradient(top, #999, #666);
background: -moz-linear-gradient(top, #999, #666);
background: -ms-linear-gradient(top, #999, #666);
background: -o-linear-gradient(top, #999, #666);
}
.helper ul{width:610px;height:78px;margin:0 -1px;border-top:1px solid #eee;}
.helper li{float:left;width:149px;height:76px;border-top:1px solid #999;border-bottom:1px solid #333;border-right:1px solid #333;border-left:1px solid #aaa;text-align:center;color:#fff;line-height:76px;font-size:180%;letter-spacing:5px;cursor:pointer;}
.helper li:active,
.helper li.active{background:#bbb;box-shadow:inset 2px 2px 4px #888;
background: -webkit-linear-gradient(top, #bbb, #999);
background: -moz-linear-gradient(top, #bbb, #999);
background: -ms-linear-gradient(top, #bbb, #999);
background: -o-linear-gradient(top, #bbb, #999);
}

.titlebar{position:relative;height:80px;
background:#ff7300;
background: -webkit-linear-gradient(top, #ffc11f , #ff8e1a 50%, #ff7e00 50% , #ff7300 );
background: -moz-linear-gradient(top, #ffc11f , #ff8e1a 50%, #ff7e00 50% , #ff7300 );
background: -ms-linear-gradient(top, #ffc11f , #ff8e1a 50%, #ff7e00 50% , #ff7300 );
background: -o-linear-gradient(top, #ffc11f , #ff8e1a 50%, #ff7e00 50% , #ff7300 );
border-bottom:1px solid #833c02;
}
.titlebar .title{height:80px;color:#fff;font-size:240%;line-height:80px;text-shadow:1px 1px 1px #000;text-align:center;font-weight:bold;}
.titlebar .action{position:absolute;top:0;left:0;width:100%;height:100%;}
.titlebar .action .l{position:absolute;top:12px;left:15px;}
.titlebar .action .r{position:absolute;top:12px;right:15px;}

.dtext{color:#d7740a;font-size:200%;font-size:200%;line-height:100%;margin-bottom:10px;text-shadow:1px 1px 0px #fff;}

.input{}

.textarea{-webkit-appearance:none;border:1px solid #ccc;border-radius:5px;background:#fff;box-shadow:inset 0 0 10px #999;padding:10px 20px;font-size:180%;line-height:200%;resize:none;outline:none;}
.textarea:focus,
textarea.focus{border:1px solid #ccc;box-shadow:inset 0 0 10px #f80;background:#fff;}

.button{cursor:pointer;}
.button_l{display:inline-block;*display:inline;*zoom:1;width:400px;height:76px;border:5px solid #edd6ba;overflow:hidden;
box-shadow:inset 1px 1px 1px #ffad28;
border-radius:43px;
background: #ff8000;
background: -webkit-linear-gradient(top, #ffaa00, #ff8000);
background: -moz-linear-gradient(top, #ffaa00, #ff8000);
background: -ms-linear-gradient(top, #ffaa00, #ff8000);
background: -o-linear-gradient(top, #ffaa00, #ff8000);
text-shadow:1px 1px 1px #ec7f00;
color:#fff;text-align:center;font-size:200%;letter-spacing:5px;line-height:76px;
}
.button_l:active,
.button_l.active{
background: #ef7801;
background: -webkit-linear-gradient(top, #f9a703, #ef7801);
background: -moz-linear-gradient(top, #f9a703, #ef7801);
background: -ms-linear-gradient(top, #f9a703, #ef7801);
background: -o-linear-gradient(top, #f9a703, #ef7801);
box-shadow:inset 2px 2px 10px #cc5502;
}
.button_m{display:inline-block;*display:inline;*zoom:1;width:240px;height:52px;line-height:52px;text-align:center;color:#cc5b00;font-size:180%;
border:1px solid #c6c6c6;border-bottom-width:2px;
border-radius:5px;
box-shadow:0 0 5px #bbb;
background:#fff;
background: -webkit-linear-gradient(top, #ffffff , #ffffff 50%, #eeeeee 50% , #e2e2e2 );
background: -moz-linear-gradient(top, #ffffff , #ffffff 50%, #eeeeee 50% , #e2e2e2 );
background: -ms-linear-gradient(top, #ffffff , #ffffff 50%, #eeeeee 50% , #e2e2e2 );
background: -o-linear-gradient(top, #ffffff , #ffffff 50%, #eeeeee 50% , #e2e2e2 );	
}
.button_m:active,
.button_m.active{
background:#eee;
background: -webkit-linear-gradient(top, #eee , #eee 50%, #ddd 50% , #ddd );
background: -moz-linear-gradient(top, #eee , #eee 50%, #ddd 50% , #ddd );
background: -ms-linear-gradient(top, #eee , #eee 50%, #ddd 50% , #ddd );
background: -o-linear-gradient(top, #eee , #eee 50%, #ddd 50% , #ddd );		
}

.button_s{
position:relative;isplay:inline-block;*display:inline;*zoom:1;width:100px;height:54px;color:#fff;text-align:center;font-size:180%;line-height:54px;
box-shadow:1px 1px 1px #ffba1e, inset 1px 1px 1px #cc5c00;
border:1px solid #994702;
border-radius:10px;	
background: #ff7300;
background: -webkit-linear-gradient(top, #f97100 , #f97100 50%, #e66900 50% , #cc5b00 );
background: -moz-linear-gradient(top, #f97100 , #f97100 50%, #e66900 50% , #cc5b00 );
background: -ms-linear-gradient(top, #f97100 , #f97100 50%, #e66900 50% , #cc5b00 );
background: -o-linear-gradient(top, #f97100 , #f97100 50%, #e66900 50% , #cc5b00 );
}
.button_s_back{border-radius:8px 10px 10px 8px;left:15px;}
.button_s_back .arrow{display:block;display:none;position:absolute;top:0;left:-13px;width:17px;height:54px;background:url(../img/app.png) no-repeat 0 -500px;}
.button_s:active,
.button_s.active{
box-shadow:1px 1px 1px #ffba1e, inset 1px 1px 1px #cc5c00;	
background: #ff7300;
background: -webkit-linear-gradient(top, #e66900 , #cc5b00 50%, #9f4903 50% , #944301 );
background: -moz-linear-gradient(top, #e66900 , #cc5b00 50%, #9f4903 50% , #944301 );
background: -ms-linear-gradient(top, #e66900 , #cc5b00 50%, #9f4903 50% , #944301 );
background: -o-linear-gradient(top, #e66900 , #cc5b00 50%, #9f4903 50% , #944301 );
}
.button_s:active .arrow,
.button_s.active .arrow{background-position:-50px -500px;}
.button_pay{display:inline-block;*display:inline;*zoom:1;width:400px;height:76px;border:5px solid #d3d3d3;overflow:hidden;
box-shadow:inset 1px 1px 1px #eee;
border-radius:43px;
background: #e5e5e5;
background: -webkit-linear-gradient(top, #e5e5e5, #ddd);
background: -moz-linear-gradient(top, #e5e5e5, #ddd);
background: -ms-linear-gradient(top, #e5e5e5, #ddd);
background: -o-linear-gradient(top, #e5e5e5, #ddd);
text-shadow:1px 1px 1px #ec7f00;
color:#fff;text-align:center;font-size:200%;letter-spacing:5px;line-height:76px;
}
.button_pay:active,
.button_pay.active{
background: #ccc;
background: -webkit-linear-gradient(top, #ddd, #bbb);
background: -moz-linear-gradient(top, #ddd, #bbb);
background: -ms-linear-gradient(top, #ddd, #bbb);
background: -o-linear-gradient(top, #ddd, #bbb);
box-shadow:inset 2px 2px 10px #999;
}


.select{}
.checkbox{display:inline-block;*display:inline;*zoom:1;width:20px;height:20px;background:#fff;border:2px solid #c6c6c6;border-radius:11px;}
.checked .checkbox{
border-color:#e2ccaf;
background: -webkit-linear-gradient(top, #ff8e1a, #ff7300);
background: -moz-linear-gradient(top, #ff8e1a, #ff7300);
background: -ms-linear-gradient(top, #ff8e1a, #ff7300);
background: -o-linear-gradient(top, #ff8e1a, #ff7300);	
}

.radio{}

.loading{}

.overlay{display:none;z-index:101;position:fixed;top:50%;left:50%;width:480px;margin-left:-250px;border-radius:15px;padding:10px;
background-color:rgba(0, 0, 0, 0.5);
}
.overlay_box{background:#fff;border-radius:10px;padding:10px 20px;
border:2px solid #999;
box-shadow:inset 0 0 10px #ccc;

}
.overlay .hd{position:relative;height:30px;padding-bottom:10px;border-bottom:4px solid #b5b5b5;}
.overlay .title{color:#ff4e00;font-size:200%;line-height:30px;}
.overlay .close{position:absolute;top:0;right:0;width:30px;height:30px;border-radius:15px;background:#ff4e00;color:#fff;font-weight:bold;letter-spacing:1px;text-align:center;line-height:30px;font-family:verdana;cursor:pointer;}
.overlay .bd{padding:20px 0;}
.overlay .ac{}

.overlay_mask{display:none;z-index:100;position:fixed;width:100%;height:100%;background:#000;opacity:0.2;}

/*icon*/
.ico{display:inline-block;*display:inline;*zoom:1;cursor:pointer;background:url(../img/app.png) no-repeat 0 0;}
.ico em{display:none;}
.ico_back{width:22px;height:22px;background-position:0 -500px;}
.ico_close{}
.ico_delete{}
.ico_view{}
.ico_alert{}
.ico_post{width:125px;height:200px;background-position:0 -250px;}
.ico_rotate_acw{width:58px;height:58px;background-position:0 -600px;}
.ico_rotate_cw{width:58px;height:58px;background-position:-100px -600px;}
.ico_zoom_in{width:58px;height:58px;background-position:-200px -600px;}
.ico_zoom_out{width:58px;height:58px;background-position:-300px -600px;}
.ico_alipay{width:180px;height:54px;background-position:0 -150px;}
.ico_paypal{width:180px;height:54px;background-position:-200px -150px;}


/*welcome create*/
.createcard{position:absolute;top:530px;left:50%;width:600px;height:200px;margin-left:-300px;text-align:center;}
.createcard .button{margin-top:57px;}

/*photo edit*/
.photoeditor{position:absolute;top:50%;left:50%;width:600px;height:560px;margin-left:-300px;margin-top:-280px;}
.photoeditor .view{position:relative;height:420px;}
.photoeditor .photo{z-index:2;position:absolute;width:560px;height:350px;overflow:hidden;top:50%;left:50%;margin-top:-180px;margin-left:-285px;border:5px solid #fff;box-shadow:0 0 10px #555;}
.photoeditor .photo img{position:absolute;top:0;left:0;}
.photoeditor .tool{border-bottom:0;height:140px;}
.photoeditor .tool .icos{width:420px;height:80px;padding:20px;overflow:hidden;margin:0 auto;}
.photoeditor .tool .icos ul{width:450px;}
.photoeditor .tool .icos li{float:left;height:62px;padding:8px 8px 0 8px;margin-right:20px;
border:1px solid #c6c6c6;border-bottom-width:2px;
border-radius:10px;
box-shadow:0 0 5px #bbb;
background:#fff;
background: -webkit-linear-gradient(top, #ffffff , #ffffff 50%, #eeeeee 50% , #e2e2e2 );
background: -moz-linear-gradient(top, #ffffff , #ffffff 50%, #eeeeee 50% , #e2e2e2 );
background: -ms-linear-gradient(top, #ffffff , #ffffff 50%, #eeeeee 50% , #e2e2e2 );
background: -o-linear-gradient(top, #ffffff , #ffffff 50%, #eeeeee 50% , #e2e2e2 );
}
.photoeditor .tool .icos li:active,
.photoeditor .tool .icos li.active{
background:#eee;
background: -webkit-linear-gradient(top, #eee , #eee 50%, #ddd 50% , #ddd );
background: -moz-linear-gradient(top, #eee , #eee 50%, #ddd 50% , #ddd );
background: -ms-linear-gradient(top, #eee , #eee 50%, #ddd 50% , #ddd );
background: -o-linear-gradient(top, #eee , #eee 50%, #ddd 50% , #ddd );		
}

.nextaction{background:#e8e8e8;width:100%;padding:20px 0;text-align:center;border-top:1px solid #fff;border-bottom:1px solid #bababa;}

.receiveinfo{position:absolute;top:50%;left:50%;width:600px;height:540px;margin-left:-300px;margin-top:-270px;}
.receiveinfo .create{text-align:center;padding:30px 0;}
.receiveinfo .list{z-index:1;position:relative;width:500px;height:360px;margin:0 auto;overflow:hidden;}
.receiveinfo .list ul{margin-bottom:40px;}
.receiveinfo .list li{position:relative;border-bottom:2px solid #b5b5b5;padding:15px 0;padding-left:40px;cursor:pointer;}
.receiveinfo .list .checked{background:#fff;cursor:default;}
.receiveinfo .list .checkbox{position:absolute;top:50%;left:8px;margin-top:-10px;}
.receiveinfo .list .name{font-size:160%;font-weight:bold;margin-right:10px;}
.receiveinfo .list .phone{font-size:140%;font-weight:bold;}
.receiveinfo .list .address{display:block;font-size:120%;}

.msgcon{position:absolute;top:50%;left:50%;width:600px;height:540px;margin-left:-300px;margin-top:-270px;}
.msgcon .textarea{display:block;width:518px;height:400px;margin:30px auto 0 auto;margin-bottom:10px;}
.msgcon .counter{width:520px;margin:0 auto;color:#909090;text-align:right;font-size:200%;padding-right:10px;}

.payinfo{position:absolute;top:50%;left:50%;width:600px;height:280px;margin-left:-300px;margin-top:-90px;text-align:center;font-size:180%;line-height:140%;border:none;}
.payinfo .m{color:#ff6c00;}
.payinfo .sum{font-size:120%;line-height:120%;padding-top:10px;}
.payinfo .sum .m{font-size:150%;font-weight:bold;vertical-align:text-bottom;}
.payinfo select{vertical-align:text-top;zoom:1.5;margin:0 10px;}
.payaction{text-align:center;padding:20px 0 5px 0;background:#e8e8e8;border-top:1px solid #fff;border-bottom:1px solid #bababa;}
.payaction .button{margin-bottom:15px;}
.payaction .button .ico{margin-top:12px;}
.paytip{text-align:center;padding:10px 0 40px 0;font-size:120%;line-height:150%;background:#e8e8e8;border-top:1px solid #fff;border-bottom:1px solid #bababa;}

.successinfo{position:absolute;top:50%;left:50%;width:600px;height:280px;margin-left:-300px;margin-top:-95px;border:none;padding-left:200px;}
.successinfo .icon{position:absolute;top:0;left:40px;}
.successinfo .m{color:#ff6c00;}
.successinfo .info{font-size:160%;line-height:140%;}
.cteatenext{text-align:center;padding:20px 0 40px 0;background:#e8e8e8;border-top:1px solid #fff;border-bottom:1px solid #bababa;}
.cteatenext .info{font-size:200%;line-height:100%;margin-bottom:10px;}

/*animate*/
@-webkit-keyframes showfromright { 
0% { opacity: 1; -webkit-transform: translateX(600px); }
100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes showfromright {
0% { opacity: 1; -moz-transform: translateX(600px); }
100% { opacity: 1; -moz-transform: translateX(0); } 
}
@-o-keyframes showfromright {
0% { opacity: 1; -o-transform: translateX(600px); }
100% { opacity: 1; -o-transform: translateX(0); }
}
@keyframes showfromright {
0% { opacity: 1; transform: translateX(600px); }
100% { opacity: 1; transform: translateX(0); } 
}
.showfromright {
	-webkit-animation-name: showfromright;
	-moz-animation-name: showfromright;
	-o-animation-name: showfromright;
	animation-name: showfromright;
}

@-webkit-keyframes showfromleft { 
0% { opacity: 1; -webkit-transform: translateX(-600px); }
100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes showfromleft {
0% { opacity: 1; -moz-transform: translateX(-600px); }
100% { opacity: 1; -moz-transform: translateX(0); } 
}
@-o-keyframes showfromleft {
0% { opacity: 1; -o-transform: translateX(-600px); }
100% { opacity: 1; -o-transform: translateX(0); }
}
@keyframes showfromleft {
0% { opacity: 1; transform: translateX(-600px); }
100% { opacity: 1; transform: translateX(0); } 
}
.showfromleft {
	-webkit-animation-name: showfromleft;
	-moz-animation-name: showfromleft;
	-o-animation-name: showfromleft;
	animation-name: showfromleft;
}



@-webkit-keyframes hidefromleft { 
0% { opacity: 0.8; -webkit-transform: translateX(0); }
100% { opacity: 0; -webkit-transform: translateX(-600px); }
}
@-moz-keyframes hidefromleft {
0% { opacity: 0.8; -moz-transform: translateX(0); }
100% { opacity: 0; -moz-transform: translateX(-600px); }
}
@-o-keyframes hidefromleft {
0% { opacity: 0.8; -o-transform: translateX(0); }
100% { opacity: 0; -o-transform: translateX(-600px); }
}
@keyframes hidefromleft {
0% { opacity: 0.8; transform: translateX(0); }
100% { opacity: 0; transform: translateX(-600px); }
}
.hidefromleft {
	-webkit-animation-name: hidefromleft;
	-moz-animation-name: hidefromleft;
	-o-animation-name: hidefromleft;
	animation-name: hidefromleft;
}


@-webkit-keyframes hidefromright { 
0% { opacity: 0.8; -webkit-transform: translateX(0); }
100% { opacity: 0; -webkit-transform: translateX(600px); }
}
@-moz-keyframes hidefromright {
0% { opacity: 0.8; -moz-transform: translateX(0); }
100% { opacity: 0; -moz-transform: translateX(600px); }
}
@-o-keyframes hidefromright {
0% { opacity: 0.8; -o-transform: translateX(0); }
100% { opacity: 0; -o-transform: translateX(600px); }
}
@keyframes hidefromright {
0% { opacity: 0.8; transform: translateX(0); }
100% { opacity: 0; transform: translateX(600px); }
}
.hidefromright {
	-webkit-animation-name: hidefromright;
	-moz-animation-name: hidefromright;
	-o-animation-name: hidefromright;
	animation-name: hidefromright;
}



