<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta charset="utf-8" />
<title>乐兑网名信片 ledui.com</title>
<meta content="width=device-width, user-scalable=0" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link href="css/ledui.page.css" rel="stylesheet" type="text/css" />
<link href="icon.png" rel="apple-touch-icon-precomposed" />
</head>
<body>
				
<div class="screen">
<div class="pages"> 

<div class="page">
	<div class="panel_head">
		<div class="titlebar" id="titlebar_login">
			<div class="title">登录</div>
			<div class="action">
				<div class="l">
				</div>
			</div>
		</div>
	</div>
	<div class="panel_body">
	<div class="panel_body_box">
		<div class="logform" id="login" >
			<div class="errorbox hide">登录失败~~~</div>
			<div class="item"><input autocomplete="off" type="email" class="sid" placeholder="邮箱地址" tr_placeholder="email" /></div>
			<div class="item"><input autocomplete="off" type="password" class="pwd" placeholder="密码" tr_placeholder="password" /></div>
		</div>
	</div>	
	</div>
	<div class="panel_foot">
		<div class="nextaction">
			<div class="button button_l" active="yes" tr="login" id="IDLogin">登录</div>
		</div>		
	</div>
</div>
</div>

</div><!--screen end-->

</body>
</html>
