<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>乐兑网-乐兑明信片</title>
<link href="/assets/css/style_v1.css" rel="stylesheet" type="text/css" />
<script src="/assets/js/jquery-1.7.1.min.js" type="text/javascript"></script>
</head>

<body>
{part "/index.main.nav"}
{part "/user.main.nav"}
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><table width="750" border="0" align="center" cellpadding="3" cellspacing="0">
      <tr>
        <td width="164" height="35" valign="top" class="biaoti_14"><table width="160" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="24"><img src="/assets/img/shadow_4.gif" width="24" height="174" /></td>
            <td width="112"><table width="95%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="35" align="center"><a href="#" class="ceng14">我的账户</a></td>
              </tr>
              <tr>
                <td height="35" align="center"><a href="#" class="ceng14">寄件记录</a></td>
              </tr>
              <tr>
                <td height="35" align="center"><a href="#" class="ceng14">资料管理</a></td>
              </tr>
              <tr>
                <td height="35" align="center"><a href="#" class="ceng14">密码管理</a></td>
              </tr>
            </table></td>
            <td width="24"><img src="/assets/img/shadow_3.gif" width="24" height="174" /></td>
          </tr>
        </table></td>
        <td width="574" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100%"><img src="/assets/img/shadow_1.gif" width="570" height="12" /></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tr>
                  <td width="19%" valign="top"><table width="98" height="134" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="/assets/img/touxiang_01.gif" width="8" height="9" alt="" /></td>
                      <td><img src="/assets/img/touxiang_02.gif" width="82" height="9" alt="" /></td>
                      <td><img src="/assets/img/touxiang_03.gif" width="8" height="9" alt="" /></td>
                    </tr>
                    <tr>
                      <td><img src="/assets/img/touxiang_04.gif" width="8" height="116" alt="" /></td>
                      <td background="/assets/img/touxiang_05.gif">&nbsp;</td>
                      <td><img src="/assets/img/touxiang_06.gif" width="8" height="116" alt="" /></td>
                    </tr>
                    <tr>
                      <td><img src="/assets/img/touxiang_07.gif" width="8" height="9" alt="" /></td>
                      <td><img src="/assets/img/touxiang_08.gif" width="82" height="9" alt="" /></td>
                      <td><img src="/assets/img/touxiang_09.gif" width="8" height="9" alt="" /></td>
                    </tr>
                  </table></td>
                  <td width="81%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="biaoti_14">账户：gonghuabin@tom.com 　<a href="#" class="huise12">[退出] </a></td>
                      </tr>

                  </table>
                    <table width="452" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="626" height="7" background="/assets/img/xuxian.gif"><img src="/assets/img/xuxian.gif" width="4" height="10" /></td>
                      </tr>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                          <tr>
                            <td class="huise_14">可用余额：</td>
                          </tr>
                          <tr>
                            <td><span class="biaoti_26">0.00</span> <span class="huise_14">元</span> </td>
                          </tr>
                          <tr>
                            <td><img src="/assets/img/botton_blue_4.gif" width="74" height="30" /></td>
                          </tr>
                        </table></td>
                        <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                          <tr>
                            <td class="huise_14">累计积分：</td>
                          </tr>
                          <tr>
                            <td><span class="biaoti_26">55</span> <span class="huise_14">分</span></td>
                          </tr>
                          <tr>
                            <td><img src="/assets/img/botton_blue_5.gif" width="74" height="30" /></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              </td>
          </tr>
          <tr>
            <td><img src="/assets/img/shadow_2.gif" width="570" height="12" /></td>
          </tr>
        </table></td>
        </tr>
    </table>
      <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="10"><img src="/assets/img/touming.png" width="1" height="8" /></td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" bgcolor="#FFFFFF"><img src="/assets/img/shadow_2.gif" width="670" height="12" /></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><img src="/assets/img/footer_ge.gif" width="960" height="9" /></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="5" cellspacing="5" bgcolor="#FFFFFF">
  <tr>
    <td width="312" align="center"><img src="/assets/img/logo_2.gif" width="215" height="56" /></td>
    <td width="613">&nbsp;</td>
  </tr>
</table>

</body>
</html>
